.page {
    background-color: #1B4A4B;
}

.tile {
    background-color: #E3CFAA;
    box-shadow: 2px 2px 2px black;
    color: black;
}

.basic-cell {
    background-color: #52B788;
}

.center-cell {
    background-color: #FA9789;
}

.x2-letter-cell {
    background-color: #61C7FA;
}

.x3-letter-cell {
    color: white;
    background-color: #0D6896;
}

.x2-word-cell {
    background-color: #FA9789;
}

.x3-word-cell {
    background-color: #F97362;
}

.selected-tile {
    background-color: #F97362;
}

.selected-cell {
    background-color: #f5c453;
}

.cursor-default {
    cursor: default;
}

.tile-on-cell {
    background-color: #E3CFAA;
    box-shadow: 10px 2px 2px black;
    color: black;
}