.page {
    background-color: #1B4A4B;
    overflow-x: clip;
}

.board-cell {
    position: relative;
}

.tile-points {
    font-size: 9px;
}

.tile-letter {
    font-size: 14px;
}

.tile {
    background-color: #E3CFAA; /*#D3EEDC;*/
    box-shadow: 2px 2px 2px black;
    color: black;
}

.basic-cell {
    background-color: #52B788;
}

.center-cell {
    background-color: #FA9789;
}

.x2-letter-cell {
    background-color: #61C7FA;
}

.x3-letter-cell {
    color: white;
    background-color: #0D6896;
}

.x2-word-cell {
    background-color: #FA9789;
}

.x3-word-cell {
    background-color: #F97362;
}

/*TODO: This should go into a global css or something*/
.selected-tile {
    background-color: #F97362;
}

.selected-cell {
    background-color: #F97362; /*#f5c453;*/
}

.cursor-default {
    cursor: default;
}

.tile-on-cell {
    background-color: #E3CFAA;
    color: black;
}

.player-on-turn {
    background-color: #E3CFAA;
}

.normal-btn {
    background-color: #0D6896;
    color: white;
}

.fill {
    width: 100vw;
    height: 90vh;
    max-width: 100vw;
    max-height: 90vh;
    overflow-x: hidden;
    /*overflow-y: hidden;
    /*
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
    */
}

.word-info {
    background-color: #52B788;
}

.word-meanings-group {
    background-color: #52B788;
}

.word-meaning {
    background-color: #52B788;
}

.logs {
    background-color: #52B788;
}

.logs-title {
    background-color: #52B788;
}

.card-body {
    background-color: #52B788;
}

.logs-history-group {
    max-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.log {
    background-color: #52B788;
}

/*
TODO: implement this one
.basic-cell-disabled {
}
*/

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.square:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.grid {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.board-size {
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .board-size {
        width: 78%;
    }   
}

/*Special case for ipad landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) and (orientation:landscape) {
    .board-size {
        width: 100%;
    }   
}

/*Special case for ipad portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) and (orientation:portrait) {
    .board-size {
        width: 100%;
    }   
}

.grid-row {
    /*grid-template-rows: repeat(15, 40px);*/
    display: grid;
    grid-template-columns: repeat(15, 2.2rem);
}

.grid-col {
    display: flex;
    align-items: center;
}

.board-sizing {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: grid;
    grid-template-rows: repeat(15, 2.2rem);
}