<div class="row d-flex justify-content-center flex-nowrap page">
    <div class="col-md-3">
        <div class="border rounded scoreboard mt-4">
            <table class="table">
                <th>Резултат</th>
                <tr *ngFor="let pointsByUserName of pointsByUserNames; let i = index" class="{{getClassNameWhetherPlayerIsOnTurn(pointsByUserName.key)}}">
                    <td>{{i + 1}}</td>
                    <td>{{getUserName(pointsByUserName.key)}}</td>
                    <td>{{pointsByUserName.value}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row d-flex justify-content-center px-5">
            <table>
                <tr *ngFor="let row of board">
                    <td *ngFor="let cell of row" 
                        class="border border-dark p-2 text-center cursor-default {{getClassNameByCellType(cell.type)}}
                                                       {{getClassNameIfCellIsTaken(cell)}} {{getClassNameIfSelected(cell)}}"
                        (click)="clickOnBoardCell(cell)"
                        (contextmenu)="rightClickOnBoardCell(cell)">

                        <div *ngIf="cell.tile">
                            {{cell.tile.letter}}
                            <span style="font-size: 10px">{{cell.tile.points}}</span>
                        </div>
                        <div *ngIf="!cell.tile">
                            {{getValueWhenEmptyByCellType(cell.type)}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="my-3 text-center">
            <span
                cdkDrag
                *ngFor="let playerTile of playerTiles"
                class="mx-2 border tile cursor-default rounded-1 p-2 text-center {{getClassNameIfSelected(playerTile)}}"
                (click)="clickOnPlayerTile(playerTile)">
                {{playerTile.letter}}
                <span style="font-size: 10px">
                    {{playerTile.points}}
                </span>
            </span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mt-5 mb-4">
            <span class="alert alert-warning dispay-2">
                <span>Оставащи букви - </span>
                <b>{{remainingTilesCount}}</b>
            </span>
        </div>
        <div>
            <button class="btn btn-danger" (click)="writeWord()">Напиши дума</button>
        </div>
    </div>
</div>
