<div class="row">
    <div class="col col-md-3">
        <div></div>
    </div>
    <div class="col-md-6">
        <table>
            <tr *ngFor="let row of board">
                <td class="border p-2" *ngFor="let column of row">{{column.type}}</td>
            </tr>
        </table>
        <div>
            <span class="mx-2 border p-2" *ngFor="let playerTile of playerTiles">{{playerTile.letter}}{{playerTile.points}}</span>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>