.page {
    background-color: #1B4A4B;
    overflow-x: clip;
}

.board-cell {
    position: relative;
}

.tile-points {
    font-size: 9px;
}

.tile-letter {
    font-size: 14px;
}

.tile {
    background-color: #E3CFAA;
    box-shadow: 2px 2px 2px black;
    color: black;
}

.basic-cell {
    background-color: #52B788;
}

.center-cell {
    background-color: #FA9789;
}

.x2-letter-cell {
    background-color: #61C7FA;
}

.x3-letter-cell {
    color: white;
    background-color: #0D6896;
}

.x2-word-cell {
    background-color: #FA9789;
}

.x3-word-cell {
    background-color: #F97362;
}

.selected-tile {
    background-color: #F97362;
}

.selected-cell {
    background-color: #F97362; /*#f5c453;*/
}

.cursor-default {
    cursor: default;
}

.tile-on-cell {
    background-color: #E3CFAA;
    color: black;
}

.scoreboard {
    background-color: #52B788;
}

.player-on-turn {
    background-color: #E3CFAA;
}

.normal-btn {
    background-color: #0D6896;
    color: white;
}

.fill {
    width: 100vw;
    height: 90vh;
    max-width: 100vw;
    max-height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
    /*
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
    */
}