<div class="logs">
    <div class="card border border-dark rounded" style="width: 100%;">
        <div style="color: white; background-color: black; padding-top: 1rem;" > <!-- class="card-body" -->
            <h1 class="logs-title card-title text-center"><b>{{gameLogsLabel}}</b></h1>
        </div>
        <ul style="max-height: 20vh;" class="logs-history-group list-group list-group-flush striped-list">
            <li class="log list-group-item"
                *ngFor="let gameLog of gameLogs">
                <div class="d-flex flex-row flex-wrap">
                    <p>
                        {{gameLog.userName}} {{getTextByStatus(gameLog.status)}}
                        <b *ngIf="isChangeTilesStatus(gameLog.status)">
                            {{gameLog.changedTilesCount}}
                        </b>
                        <b *ngIf="isWriteWordStatus(gameLog.status)" style="cursor: pointer;"
                        (click)="showWordMeaningOf('sa')">{{gameLog.newlyWrittenWords}}</b>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>