<div class="d-flex flex-column justify-content-center align-items-center my-4 text-center">
    <h1 class="m-4">{{welcomeMessageText}}</h1>
    <h2 class="text-center">{{chooseGamemodeMessageText}}</h2>
</div>
<div class="d-flex align-items-center justify-content-center my-3" *ngIf="currentGameGroupName">
    <button class="btn btn-danger py-2" (click)="redirectToCurrentGame()">{{continueYourGameText}}</button>
</div>
<div class="card-columns wrapped my-4">
    <div *ngFor="let gameMode of gameModes; let cardIndex = index"
        class="flip-card game-mode-card col-md-3 col-lg-3 col-sm-5 col-10 {{getClassNameByGameModeName(gameMode.name)}}"
        (click)="flip('card' + cardIndex)"
        id="card{{cardIndex}}">
        <div class="flip-card-inner">
            <div class="flip-card-front d-flex align-items-center justify-content-center rounded">
                {{gameMode.name}}
            </div>
            <div class="flip-card-back d-flex flex-column align-items-center justify-content-center rounded">
                <div class="mb-2">
                    {{gameMode.description}}
                </div>
                <div *ngFor="let button of gameMode.buttons"
                    class="mb-2">
                    <button style="font-size: 1.2rem;" class="btn btn-danger my-1" (click)="button.action()">
                        {{button.text}}
                    </button>
                </div>
            </div>
          </div>
    </div>
</div>
<!-- This div is used for spacing at the bottom -->
<div style="height: 1px; width: 1px;" class="my-4"></div>
<!-- <app-matches-dashboard></app-matches-dashboard> -->