<div class="d-flex flex-column justify-content-center align-items-center my-4 text-center">
    <h1 class="m-4">Добре дошли в Супер Скрабъл</h1>
    <h2 class="text-center">Изберете вариант на играта</h2>
</div>
<div *ngIf="currentGameGroupName">
    {{currentGameGroupName}}
</div>
<div class="card-columns wrapped mb-4">
    <div *ngFor="let gameMode of gameModes; let cardIndex = index"
        class="flip-card game-mode-card col-md-3 col-lg-3 col-sm-5 col-10"
        (click)="flip('card' + cardIndex)"
        id="card{{cardIndex}}">
        <div class="flip-card-inner">
            <div class="flip-card-front d-flex align-items-center justify-content-center">
                {{gameMode.name}}
            </div>
            <div class="flip-card-back d-flex flex-column align-items-center justify-content-center">
                <div class="mb-2">
                    {{gameMode.description}}
                </div>
                <div *ngFor="let button of gameMode.buttons"
                    class="mb-2">
                    <button class="btn btn-danger" (click)="button.action()">
                        {{button.text}}
                    </button>
                </div>
            </div>
          </div>
    </div>
</div>