<div class="mx-3">
    <div class="word-info card border border-dark rounded" style="width: 100%;">
        <div class="card-body">
          <h1 class="card-title text-center"><b>Плодовете</b></h1>
          <p class="card-text">Същ. име, нар. име</p>
        </div>
        <ul class="word-meanings-group list-group list-group-flush">
          <li class="word-meaning list-group-item">Cras justo odio</li>
          <li class="word-meaning list-group-item">Dapibus ac facilisis in</li>
          <li class="word-meaning list-group-item">Vestibulum at ero</li>
        </ul>
      </div>
</div>