<div class="identity-form p-4 col-lg-4 col-md-6 col-sm-8 col-10 mt-lg-4 mt-md-3 mt-sm-2 mt-2 mx-auto rounded">
    <h1 class="mb-4 text-center">Регистрация</h1>
    <form (ngSubmit)="onRegister()" #form="ngForm">
        <div class="mb-4">
            <label class="mb-2" for="username">Потребителско име</label>
            <input 
                ngModel
                type="text"
                id="username"
                class="form-control mb-1"
                name="username"/>
            <div 
                class="text-danger" 
                *ngFor="let errorMessage of userNameErrorMessages()">
                {{errorMessage}}
            </div>
        </div>
        <div class="mb-4">
            <label class="mb-2" for="email">Имейл</label>
            <input
                ngModel
                type="text"
                id="email"
                class="form-control mb-1"
                name="email"/>
            <div 
                class="text-danger" 
                *ngFor="let errorMessage of emailErrorMessages()">
                {{errorMessage}}
            </div>
        </div>
        <div class="mb-4">
            <label class="mb-2" for="password">Парола</label>
            <input 
                ngModel
                type="password"
                id="password"
                class="form-control mb-1"
                name="password"/>
            <div 
                class="text-danger" 
                *ngFor="let errorMessage of passwordErrorMessages()">
                {{errorMessage}}
            </div>
        </div>
        <div class="mb-4">
            <label class="mb-2" for="repeatedPassword">Повторете паролата</label>
            <input 
                ngModel
                type="password"
                id="repeatedPassword"
                class="form-control mb-1"
                name="repeatedPassword"/>
            <div 
                class="text-danger" 
                *ngFor="let errorMessage of repeatedPasswordErrorMessages()">
                {{errorMessage}}
            </div>
        </div>
        <ng-container *ngIf="errors">
            <div 
                class="text-danger mb-2" 
                *ngFor="let error of errors">
                {{error}}
            </div>
        </ng-container>
        <div class="d-flex justify-content-center">
            <button 
                type="submit"
                class="btn btn-primary col-lg-5 col-md-6 col-sm-8 col-10"
                [disabled]="!form.valid">Регистрация</button>
        </div>
    </form>
</div>