<div class="logs">
    <div class="card border border-dark rounded" style="width: 100%;">
        <div style="color: white; background-color: black; padding-top: 1rem;" > <!-- class="card-body" -->
            <h1 class="logs-title card-title text-center"><b>{{gameLogsLabel}}</b></h1>
        </div>
        <div *ngIf="isLogListEmpty()" class="log d-flex flex-row flex-wrap justify-content-center p-4">
            <strong>{{gameLogsNoLogsText}}</strong>
        </div>
        <ul *ngIf="!isLogListEmpty()" style="max-height: 20vh; display: flex; flex-direction: column-reverse;" class="logs-history-group list-group list-group-flush striped-list">
            <li class="log list-group-item"
                *ngFor="let gameLog of gameLogs">
                <div class="d-flex flex-row flex-wrap">
                    <p>
                        <strong>{{gameLog.userName}}</strong> {{getTextByGameLog(gameLog)}}
                        <!-- <b *ngIf="isWriteWordStatus(gameLog.status)" style="cursor: pointer;">
                            {{gameLog.newlyWrittenWords}}
                        </b> -->
                        <span *ngFor="let newWord of gameLog.newlyWrittenWords; let last = last">
                            <strong>
                                {{newWord}}<span *ngIf="!last">, </span>
                            </strong>
                        </span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>