<div class="d-flex flex-column page row-10">
    <div class="d-flex flex-row">
        <button (click)="changeShowingComponent(showingComponentType.Scoreboard)">
            Резултат
        </button>
        <button (click)="changeShowingComponent(showingComponentType.GameLogs)">
            История
        </button>
        <button (click)="changeShowingComponent(showingComponentType.WordInfo)">
            Дума
        </button>
    </div>
    <div [ngSwitch]="showingComponent">
        <div *ngSwitchCase="showingComponentType.GameLogs">
            <app-game-logs
                [gameLogs]="data.gameLogs"
                (showWordMeaningOf)="showWordMeaningOf($event)"
                class ="content-component">
            </app-game-logs>
        </div>
        <div *ngSwitchCase="showingComponentType.WordInfo">
            <app-word-info class="content-component">

            </app-word-info>
        </div>
        <div *ngSwitchDefault>
            <app-scoreboard
                [pointsByUserNames]="data.pointsByUserNames"
                [userNamesOfPlayersWhoHaveLeftTheGame]="data.userNamesOfPlayersWhoHaveLeftTheGame"
                [currentUserName]="data.currentUserName"
                class="content-component">
            </app-scoreboard>
        </div>
    </div>
</div>