<div class="d-flex justify-content-center page">
    <div class="col-md-6">
        <div class="d-flex justify-content-center">
            <div>
                <!--FIXME-->
                <div class="d-flex justify-content-center my-3">
                    <!--CHECK IF NULL-->
                    
                    <h1>{{this.gameOutcomeMessage}}</h1>
                </div>
                <div class="d-flex justify-content-center my-3">
                    <h1>{{summaryPageCaption}}</h1>
                </div>
            </div>
        </div>
        <div class="border border-dark rounded scoreboard mt-4">
            <table class="table table-sm">
                <thead>
                    <tr style="color: white;">
                        <th>#</th>
                        <th>{{summaryScoreboardPlayerLabel}}</th>
                        <th>{{summaryScoreboardPointsLabel}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="color: white;" *ngFor="let pointsByUserName of pointsByUserNames; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{pointsByUserName.key}}</td>
                        <td>{{pointsByUserName.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>