<div class="d-flex border border-dark rounded scoreboard">
    <table class="table">
        <th class="ps-3 py-3">Резултат</th>
        <!--Posible way to show player's times-->
        <!--<tr>
            <th></th>
            <th>Играч</th>
            <th>Време</th>
            <th>Точки</th>
        </tr>-->
        <!--<tr *ngFor="let pointsByUserName of pointsByUserNames; let i = index">
            <td class="ps-3 py-2">{{i + 1}}</td>
            <td>{{modifyCurrentUserName(pointsByUserName.key)}}</td>-->
            <!--<td>05:42</td>-->
        <!--    <td>{{pointsByUserName.value}} т.</td>
        </tr>-->
    </table>
</div>