<div class="menu d-md-flex flex-md-column d-xs-flex flex-xs-column row-xs-12 row-sm-12 row-md-12">
    <app-game-configuration
        [gameConfig]="getCurrentConfig()"
        (onChosenOption)="onChosenOption($event)">
    </app-game-configuration>
    <div class="buttons">
        <button *ngIf="isBackButtonEnabled()" class="btn btn-secondary"
                (click)="previousConfig()">Назад</button>
        <button *ngIf="isStartButtonEnabled()" class="btn btn-success" (click)="joinRoom()">Започни</button>
    </div>
</div>
