<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>{{partyTypeString}}</h1>
    <div class="my-2 alert alert-danger">
        <h1>Код: {{partyData.invitationCode}}</h1>
    </div>
    <div class="my-2">
        <div *ngFor="let configSetting of partyData.configSettings" class="d-flex flex-column d-lg-flex flex-lg-row align-items-center my-2">
            <div class="col-lg-3">
                <h2>{{configSetting.name}}</h2>
            </div>
            <div class="option-values wrapped">
                <div *ngFor="let option of configSetting.options" class="col-3 col-lg-2">
                    <input type="radio" (click)="selectMatchProp(configSetting.name, option.value)" class="btn-check"
                            name="{{configSetting.name}}" id="{{configSetting.name}}{{option.value}}"
                            autocomplete="off" [checked]="isMatchPropOptionSelected(configSetting.name, option.value)">
                    <label style="width: 100%;" class="btn btn-outline-secondary" for="{{configSetting.name}}{{option.value}}">{{option.name}}</label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1>Играчи</h1>
    </div>
    <div class="member-cards my-2">
        <div *ngFor="let member of partyData.members"
            class="member-card col-5 col-md-2 d-flex flex-row">
            <span *ngIf="isPartyOwner(member)" class="material-icons p-1">star</span>
            <h2>{{member}}</h2>
            <span *ngIf="isPartyOwner(member)" class="material-icons p-1">star</span>
        </div>
    </div>
    <div class="col-12 d-flex flex-row justify-content-center my-2">
        <button class="col-4 col-md-2 btn btn-success" *ngIf="partyData.isOwner && isPartyReady" (click)="startGame()">Започни игра</button>
        <button class="col-4 col-md-2 btn btn-danger align-self-end" (click)="leaveParty()">Излез</button>
    </div>
</div>