
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$super-scrabble-app-primary: mat.define-palette(mat.$indigo-palette);
$super-scrabble-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$super-scrabble-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$super-scrabble-app-theme: mat.define-light-theme((
  color: (
    primary: $super-scrabble-app-primary,
    accent: $super-scrabble-app-accent,
    warn: $super-scrabble-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($super-scrabble-app-theme);

//@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
//@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
    font-family: ADYS-Regular;
    src: url("./assets/fonts/static/ADYS-Regular-V5-4.ttf");
}

@font-face {
    font-family: ADYS-Bold;
    src: url("./assets/fonts/static/ADYS-Bold-V5-4.ttf");
}

* {
    font-family: ADYS-Regular, sans-serif !important;
    .material-icons {
        font-family: 'Material Icons' !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: ADYS-Bold, sans-serif !important;
}

h1 {
    font-size: calc(1.375rem + 1.5vw) !important;
}

h2 {
    font-size: calc(1.325rem + 0.9vw) !important;
}


.identity-form {
    background-color: #F2F2F2;
    font-size: 1.1rem;
}
html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
