@font-face {
    font-family: Regular;
    src: url("./assets/fonts/static/ADYS-Regular-V5-4.ttf");
}

@font-face {
    font-family: Bold;
    src: url("./assets/fonts/static/ADYS-Bold-V5-4.ttf");
}

* {
    font-family: 'Regular', sans-serif;
}

.identity-form {
    background-color: #F2F2F2;
    font-size: 1.1rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
